save/
.ipynb_checkpoints/
wandb/
.env
*.pyc
__pycache__/*
a.ipynb
__pycache__/
*.py[cod]
*$py.class
data/
plot/
*.csv
*.png
*.log
wandb/
.Rhistory
.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/*.ipynb_checkpoints/
a.py
plot.zip