comm==0.2.2
contourpy==1.2.1
cycler==0.12.1
debugpy==1.8.2
filelock==3.15.4
fonttools==4.53.1
fsspec==2024.6.1
gpt-batch==0.1.6
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1721856510709/work
iniconfig==2.0.0
ipykernel==6.29.5
jax @ file:///home/conda/feedstock_root/build_artifacts/jax_1722317516474/work
jax-cuda12-pjrt==0.4.31
jax-cuda12-plugin==0.4.31
jaxlib==0.4.31
Jinja2==3.1.4
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
lion-pytorch==0.2.2
MarkupSafe==2.1.5
matplotlib==3.9.2
ml-dtypes @ file:///home/conda/feedstock_root/build_artifacts/ml_dtypes_1715895562521/work
mpmath==1.3.0
multipledispatch==1.0.0
nest-asyncio==1.6.0
networkx==3.3
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1721965826156/work/dist/numpy-2.0.1-cp310-cp310-linux_x86_64.whl#sha256=7534b75857e8dd9b5a9217113ceb4cccc4e3a621d61e8e415cade5e3864f748b
numpyro==0.15.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvcc-cu12==12.6.20
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.20
nvidia-nvtx-cu12==12.1.105
openai==1.35.15
opt-einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1696448916724/work
packaging==24.1
pandas==2.2.2
pillow==10.4.0
pluggy==1.5.0
pyparsing==3.1.2
pytest==8.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
pyzmq==26.0.3
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1720323032635/work/dist/scipy-1.14.0-cp310-cp310-linux_x86_64.whl#sha256=637202cdf828ce0ac658d3377770005d77a276adeac622f0dd2d5d970b1b865e
six==1.16.0
sympy==1.13.2
tomli==2.0.1
torch==2.4.0
tornado==6.4.1
tqdm==4.66.5
triton==3.0.0
typing_extensions==4.12.2
tzdata==2024.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1718013267051/work
